/*Alle code is gevalideerd: https://jigsaw.w3.org/css-validator/#validate_by_input */

body {
   background-color:#ffffff;     
}

.run_reset {
width: 60px ;
height: 30px ;
font-family: Bitter ;
font-weight: 600;
font-size: 10pt;
background-color: #24565d;
color: #ffffff;
margin: 10px 10px 10px 10px;
padding: 10px;
float: left;
}

.koptitel {
   width: 1000px; 
   height: 200px; 
   font-family: Bitter; 
   font-weight: 600; 
   font-size: 14pt; 
   background-color: #24565d; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both; 
}

.kop_samenvatting {
   width: 1000px; 
   height: 190px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
}

.kop_samenvattingBedreigingen{
   width: 1000px; 
   height: 210px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
}

.kop_samenvattingAanvallers{
   width: 1000px; 
   height: 180px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
}

.kop_samenvattingMaatregelen{
   width: 1000px; 
   height: 150px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
}

.clear {
   clear: both; 
}

.deelkopje_nav {
   width: 100px; 
   height: 90px; 
   font-family: Bitter;
   font-Weight: 500; 
   font-size: 13pt; 
   background-color: #658B6F; 
   color: #ffffff; 
   margin: 0px 10px 60px 10px; 
   padding: 5px;
   float: right;
   box-sizing: border-box;
}


footer {
  clear: both;
  width: 1000px; 
  height: 25px; 
  font-family: Bitter; 
  font-weight: 500; 
  font-size: 13pt; 
  background-color: #3e9194; 
  color: #ffffff; 
  margin: 0px 10px 10px 10px; 
  padding: 10px;
}

#wrapper {
   width: 1000px;
   margin: auto;
}