/*Alle code is gevalideerd: https://jigsaw.w3.org/css-validator/#validate_by_input */

body {
   background-color:#ffffff;     
}

.run_reset {
  box-sizing: border-box;
  width: 60px;
  height: 35px;
  font-family: Bitter;
  font-weight: 600;
  font-size: 9pt;
  background-color: #24565d;
  color: #ffffff;
  margin: 10px;
  padding: 0px;         
  float: left;
  text-align: center;
}

.deelkopje_nav {
   box-sizing: border-box;
   width: 200px ;
   height: 35px ;
   font-family: Bitter ;
   font-weight: 600;
   font-size: 9pt;
   background-color: #658B6F;
   color: #ffffff;
   margin: 10px 10px 10px 10px;
   padding: 0px;
   float: right;
   text-align: center;
}

.koptitel {
   width: 1000px; 
   height: 200px; 
   font-family: Bitter; 
   font-weight: 600; 
   font-size: 14pt; 
   background-color: #24565d; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both; 
}

.kop_samenvatting {
   width: 1000px; 
   height: 190px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
}

.kop_samenvattingMaatregelen{
   width: 1000px; 
   height: 150px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #3e9194; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
}

.clear {
   clear: both; 
}



.muzieknoten {
width: 60px ;
height: 30px ;
font-family: Bitter ;
font-weight: 600;
font-size: 10pt;
background-color: #24565d;
color: #ffffff;
margin: 10px 10px 10px 10px;
padding: 10px;
float: left;
}

footer {
  clear: both;
  width: 1000px; 
  height: 25px; 
  font-family: Bitter; 
  font-weight: 500; 
  font-size: 13pt; 
  background-color: #3e9194; 
  color: #ffffff; 
  margin: 0px 10px 10px 10px; 
  padding: 10px;
}

#wrapper {
   width: 1040px;
   margin: auto;
}

.afbeeldingen img {
    width: 20px;
    box-sizing: border-box;
  }