/*Alle code is gevalideerd: https://jigsaw.w3.org/css-validator/#validate_by_input */

body {
   background-color:#ffffff;     
}

.run_reset {
  box-sizing: border-box;
  width: 60px;
  height: 35px;
  font-family: Bitter;
  font-weight: 600;
  font-size: 9pt;
  background-color: #5d7069;
  color: #ffffff;
  margin: 10px;
  padding: 0px;         
  float: left;
  text-align: center;
}

.liedKnop {
   box-sizing: border-box;
   width: 200px ;
   height: 35px ;
   font-family: Bitter ;
   font-weight: 600;
   font-size: 9pt;
   background-color: #5d7069;
   color: #ffffff;
   margin: 10px 10px 10px 10px;
   padding: 0px;
   float: right;
   text-align: center;
}

.koptitel {
   width: 1000px; 
   min-height: 220px;
   font-family: Bitter; 
   font-weight: 600; 
   font-size: 14pt; 
   background-color: #A7C1A8; 
   color: #000; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both; 
   overflow: hidden; 
}

#notation {
   width: 980px;   
   height: 200px; 
   background-color: white;
   border: 2px solid black;
   margin: 10px 10px 10px 10px;
}
.nb {
   padding-left: 12px;
  font-size: 8pt; 
}

.notenMenu {
   width: 1000px; 
   height: 210px; 
   font-family: Bitter;
   font-weight: 500; 
   font-size: 15pt; 
   background-color: #c2d3b3; 
   color: #ffffff; 
   margin: 20px 10px 20px 10px; 
   padding: 10px;
   clear: both;
}

.clear {
   clear: both; 
}

.muzieknoten {
width: 60px ;
height: 30px ;
font-family: Bitter ;
font-weight: 600;
font-size: 10pt;
background-color: #ffffff;
color: #ffffff;
margin: 10px 10px 10px 10px;
padding: 10px;
float: left;
}

.muzieknoten_begin {
width: 60px ;
height: 30px ;
font-family: Bitter ;
font-weight: 600;
font-size: 10pt;
background-color: #ffffff;
color: #ffffff;
margin: 10px 10px 10px 310px;
padding: 10px;
float: left;
clear:left; 
}

footer {
  clear: both;
  width: 1000px; 
  height: 25px; 
  font-family: Bitter; 
  font-weight: 500; 
  font-size: 13pt; 
  background-color: #819A91; 
  color: #ffffff; 
  margin: 0px 10px 10px 10px; 
  padding: 10px;
}

#wrapper {
   width: 1040px;
   margin: auto;
}

  .afbeeldingen img {
    width: 20px;
    box-sizing: border-box;
    margin: -10px 0px 0px 20px
  }